/*GLOBAL RESET*/
* { box-sizing: border-box; }
body {margin: 0;}

/* GLOBAL COLOR */
body { color: rbga(0, 0, 0, 0.8);}
a {color: rbga(0, 102, 204, 1);}
a:hover {color: rgba(0, 51, 153, 1);}

/* GLOBAL TYPOGRAPHY*/
body{
    font-family: Helvetica, Arial,  sans-serif;
    font-size: 88.75%; /* 14px */
    line-height: 1.4;
}