/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */

/*TYPOGRAPHY*/

body{
    font-size: 87.5%; /* 14px */
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5; 
    color: rgba(0, 0, 0, .8);
}

/* HEADINGS */
/*
    Based on a Traditional Typographic Scale
    48, 36, 24, 21, 18, 16
*/

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
    font-family: Helvetica, Arial, sans serif;
    margin: .5em 0;
}

h1 {
    font-size: 3em; /* 48px */
    line-height: 1;

}

h2 {
    font-size: 2.25em; /* 36px */
    line-height: 1.1;

}

h3 {
    font-size: 1.5em; /* 24px */
    line-height: 1.2;

}

h4 {
    font-size: 1.3125em; /* 21px */
    line-height: 1.3;

}

h5 {
    font-size: 1.125em; /* 18px */
    line-height: 1.4;

}

h6 {
    font-size: 1em; /* 16px */
    line-height: 1.5;

}

/* PARAGRAPH */
p {
    margin: 0 0 .5em 0;
    max-width: 38em;
}

.centered p {
    margin-left: auto;
    margin-right: auto;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

/* LINKS */
a {
    color: rgb(0, 0, 153);
    text-decoration: none;
}

a:hover {
    color: rgb(46, 46, 148);
}

/* BLOCK QUOTES */
blockquote {
    font-size: 1.142em;
    margin: 1.5em 0;
    padding: 1.5em;
    border-top: 0px solid #ccc;
    border-bottom: 0px solid #ccc;
}

blockquote cite {
    display: block;
    opacity: 0.8;
    font-size: 0.875em;

}

blockquote cite:before {
    content: "-";
    margin-right: 0.25em;
}

/* HELPER CLASSES */
.text-centered {
    text-align: center;
}
.full-width {
    max-width: none;
    width: 100%;
}

.horiz-center {
    margin-left: auto;
    margin-right: auto;
}


/*IMAGES */
img {
    max-width: 100%;
    height: auto;
}

/* BUTTONS */

button {
    font-size:inherit;
}

button, 
a.button {
    display: inline-block;
    background-color: darkseagreen;
    border: 1px solid darkseagreen;
    color: #fff;
    padding: 0.75em 1em;
    border-radius: 0.32em;
    cursor: pointer;
    line-height: 1;

}

button.alt,
a.button.alt {
    background-color: transparent;
    border: 1.5px solid darkseagreen;
    color: darkseagreen;
}

button:hover,
a.button:hover {
    background-color: olivedrab;
    color:white;
    border-color: olivedrab;
    text-decoration: none;
}